<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>User Login</h1>
	<form action="/login" method="post">
		<label for="userName">ユーザID:</label> <input type="text" id="userName"
			name="userName" required><br> <br> <label
			for="password">Password:</label> <input type="password" id="password"
			name="password" required><br> <br> <input
			type="submit" value="Login">
	</form>
	<div class="float-end">
		<a th:href="@{/user/userAdd}" class="btn btn-primary">新規登録はこちら</a>
	</div>
</body>
</html>